.search-bar {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.search-input,
.search-button {
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid gray;
    display: flex;
    outline: none;
    align-items: center;
}

.search-button {
    color: black;
    background-color: white;
    cursor: pointer;
    width: 100px;
    justify-content: center;
}

.search-input {
    max-width: 300px;
    width: 100%;

}

.search-button:hover {
    color: white;
    transition: ease 0.3s;
    background-color: black;
}